<div id="navbar">
    <div>
        <a id="brand" asp-controller="home" asp-action="index">Marketplace</a>
        @await Component.InvokeAsync("Link", new { controller = "carts", action = "index", text = "My Cart" })
        @await Component.InvokeAsync("Link", new { controller = "stores", action = "index", text = "My Store" })
        <a href="/categories">Categories</a>
        @await Component.InvokeAsync("Link", new { controller = "products", action = "index", text = "Products" })
    </div>
    <div>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <a asp-controller="account" asp-action="signout">Sign Out</a>
        }
        else
        {
            <a asp-controller="account" asp-action="signup">Sign Up</a>
            <a asp-controller="account" asp-action="signin">Sign In</a>
        }
    </div>
</div>