<div id="navbar">
    <div>
        <a id="brand" asp-controller="home" asp-action="index">Marketplace</a>
        <a asp-controller="stores" asp-action="index">My Store</a>
        <a asp-controller="categories" asp-action="index">Categories</a>
        <a asp-controller="products" asp-action="index" to="/products">Products</a>
    </div>
    <div>
        <a asp-controller="account" asp-action="signup">Sign Up</a>
        <a asp-controller="account" asp-action="signin">Sign In</a>
    </div>
</div>