<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/images/vite.svg" />
    @* <link rel="stylesheet" href="@String.Concat($"/{AppDomain.CurrentDomain.FriendlyName}", ".styles.css")" /> *@
    <link rel="stylesheet" href="/styles/index.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <title>Marketplace</title>
</head>
<body>
    @await Component.InvokeAsync("Navbar")
    <div id="placeholder">
        @RenderBody()
        @await RenderSectionAsync("Scripts", false)
    </div>
    <script src="/scripts/index.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>