@model UpdateProductRequest

<div class="page">
    <form class="content" method="post" enctype="multipart/form-data">
        <div class="title">Edit Product</div>
        @await Component.InvokeAsync("Select", new { model = ViewBag.SelectViewComponent })
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="hidden" name="storeId" value="@Model.StoreId" />
        <input asp-for="Name" placeholder="Name" />
        <input asp-for="Description" placeholder="Description" />
        <div class="space-between">
            <input asp-for="Price" placeholder="Price" />
            <input type="number" asp-for="Stock" placeholder="Stock" />
        </div>
        @await Component.InvokeAsync("ImageViewer")
        @await Component.InvokeAsync("ImageBrowser", new { path = $"wwwroot/uploads/products/{@Model.Id}" })
        <input type="submit" value="SAVE" />
    </form>
</div>