<div class="page">
    <form method="post">
        <div class="title">Forgot your password?</div>
        <p class="hints">We gonna help you to rescue your account.</p>

        <div class="space-between">
        <p>You'll receive an email including a request token which allow you to redefine your password.</p>
        </div>
        <input type="email" name="email" placeholder="Email" autoComplete="off" />
        <input type="submit" value="SUBMIT REQUEST" />
    </form>
</div>