@model ForgotPasswordRequest

<div class="page">
    <form class="content" method="post">
        <div class="title">Forgot your password?</div>
        <p class="hints">We gonna help you to rescue your account.</p>

        <div class="space-between">
        <p>You'll receive an email including a request token which allow you to redefine your password.</p>
        </div>
        <input asp-for="Email" placeholder="Email" />
        <input type="submit" value="SUBMIT REQUEST" />
    </form>
</div>