@model SignUpRequest

<div class="page">
    <form class="content" method="post">
        <div class="title">Sign Up</div>
        <p class="hints">Please fill all required fields to complete your account.</p>

        <input asp-for="Username" placeholder="Username" />
        <input asp-for="Email" placeholder="Email" />
        <input asp-for="Password" placeholder="Password" />
        <input asp-for="ConfirmPassword" placeholder="Confirm your password" />
        <p class="hints">Don't forget to check your email to confirm this account later.</p>
        <input type="submit" value="SIGN UP" />
        @* <p class="hints">Already have an account? <Link to="/signin">Sign In</Link></p> *@
    </form>
</div>