@model SignUpRequest

<div class="page">
    <form class="content" method="post">
        <div class="title">Sign Up</div>
        <p class="hints">Please fill all required fields to complete your account.</p>

        <input type="text" name="username" placeholder="Username" autoComplete="off" value="@Model.Username" />
        <input type="email" name="email" placeholder="Email" autoComplete="off" value="@Model.Email" />
        <input type="password" name="password" placeholder="Password" autoSave="off" value="@Model.Password" />
        <input type="password" name="confirmPassword" placeholder="Confirm your password" autoSave="off" value="@Model.ConfirmPassword" />
        <p class="hints">Don't forget to check your email to confirm this account later.</p>
        <input type="submit" value="SIGN UP" />
        @* <p class="hints">Already have an account? <Link to="/signin">Sign In</Link></p> *@
    </form>
</div>