@model SignInRequest

<div class="page">
    <form method="post">
        <div class="title">Sign In</div>
        <p class="hints">Please enter your email and password.</p>

        <input type="email" name="email" placeholder="Email" autocomplete="off" value="@Model.Email" />
        <input type="password" name="password" placeholder="Password" autocomplete="off" value="@Model.Password" />
        <div class="space-between">
            <vc:checkbox name="remember" text="Remember Account?" value="@Model.Remember" />
            <a asp-controller="account" asp-action="forgotpassword">Forgot your password?</a>
        </div>
        <input type="submit" value="SIGN IN" />
        @* <p class="hints">Don't you have an account? <a asp-controller="Account" asp-action="SignUp">Sign Up</a></p> *@
    </form>
</div>