@model SignInRequest

<div class="page">
    <form class="content" method="post">
        <div class="title">Sign In</div>
        <p class="hints">Please enter your email and password.</p>

        <input asp-for="Email" placeholder="Email" />
        <input asp-for="Password" placeholder="Password" />
        <div class="space-between">
            @await Component.InvokeAsync("Checkbox", new { name="remember", text="Remember Account?", value=Model.Remember })
            <a asp-controller="account" asp-action="forgotpassword">Forgot your password?</a>
        </div>
        <input type="submit" value="SIGN IN" />
        @* <p class="hints">Don't you have an account? <a asp-controller="Account" asp-action="SignUp">Sign Up</a></p> *@
    </form>
</div>