*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
}

body
{
    display: flex;
    flex-direction: column;

    background: #fafafa;
}

a
{
    text-decoration: none;

    margin: 0 10px;
}

header
{
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    padding: 0 20px;

    box-shadow: 0 5px 5px #dcdcdc;
    background: #fff;
    color: #fff;
}

nav
{
    margin: 0 12px;
}

section
{
    margin: 20px;
    padding: 20px;

    background: #fff;
}

section div.header
{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 15px;
    /* line-height: 60px; */
}

table
{
    margin: 10px 0;
    width: 100%;
}

table thead
{
    text-align: left;
}

table tbody tr td:last-child
{
    text-align: right;
}

table tr th
{
    padding: 5px 0;
}

table tr td
{
    padding: 3px 0;
}

.brand
{
    font-family: 'VictorMono Nerd Font';
    font-size: 1.2em;
    font-weight: 500;

    margin: 0 20px 0 0;
}