<div class="page">
    <form>
        <div class="title">My Store</div>
        <input type="hidden" name="userId" />
        <vc:select-checkbox model=@ViewBag.SelectCheckboxViewComponent />
        <input type="text" name="name" placeholder="Name" autoComplete="off" />
        <input type="submit" value="SAVE" />
    </form>
</div>