@model CreateCategoryRequest

<div class="page">
    <form method="post">
        <div class="title">Create Category</div>
        <vc:select model=@ViewBag.SelectViewComponent />
        <input type="text" name="name" placeholder="Name" autoComplete="off" value="@Model.Name" />
        <input type="submit" value="SAVE" />
    </form>
</div>