@model UpdateCategoryRequest

<div class="page">
    <form class="content" method="post">
        <div class="title">Edit Category</div>
        @await Component.InvokeAsync("Select", new { model = ViewBag.SelectViewComponent })
        <input type="hidden" name="id" value="@Model.Id">
        <input asp-for="Name" placeholder="Name" />
        <input type="submit" value="SAVE" />
    </form>
</div>